.back-btn {
  width: 100%;
  position: relative;
  border: none;
  border-radius: .6rem;
  cursor: pointer;
}

.front-btn {
  position: relative;
  top: -4px;
  padding: 1rem 2rem;
  border-radius: .6rem;
  cursor: pointer;
}
