@import '../utils/_variables.scss';

.footer {
	position: fixed;
	bottom: 0;
	display: flex;
	width: 100%;
	justify-self: flex-end;
	min-height: 5rem;
	justify-content: center;
	align-items: center;
	background-color: $dark-gray;
}

.footer-container {
	display: flex;
	width: 100%;
	max-width: 350px;
	justify-content: space-evenly;
}

.footer-item {
	display: flex;
	align-items: center;
}

@media (min-width: 1080px) {
	.footer {
		display: none;
	}
}

