@import '../utils/_variables.scss';

.login-main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.login-input-container {
	display: flex;
	flex-direction: column;
}

.login-input {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5rem;
	padding: 0 1rem;
	color: $bright-cream;
}
