// Colors
$bright-cream: #F2EAD7;
$dark-cream: #BCAD88;
$bright-rose: #FF5959;
$dark-rose: #DF4444;
$bright-green: #2FBD18;
$gray: #3E3B3C;
$dark-gray: #241E20;
$almost-black: #191617;
$black: #000;

// Fonts
$main-font: 'Inter', Helvetica, sans-serif;
$secondary-font: 'Permanent Marker', 'Inter', Helvetica, sans-serif;

$font-sb: 6.5rem;
$font-b: 4rem;
$font-mb: 2.4rem;
$font-m: 1.8rem;
$font-s: 1.4rem;

